.OwO {
    position: relative;
    user-select: none;
}
.emoji{
    width: auto;
    height: 2rem;
}
#btnParse{
    cursor: pointer;
}
.OwO .OwO-body::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.OwO .OwO-body::-webkit-scrollbar-track {
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.06);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}

.OwO .OwO-body::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

.OwO-body {
    max-height: 0px;
    overflow: hidden;
    font-size: 0;
	text-align: left;
	transition:  .5s max-height;
}

.OwO-open .OwO-body {
    max-height: 200px !important;
    margin: 10px 0 !important;
    transition:  .5s max-height;
    overflow-y: auto;
} 
.OwO.OwO-open .OwO-logo {
    border-radius: 4px 4px 0 0;
    border-bottom: none;
    color: #444;
}

.OwO.OwO-open .OwO-body {
    display: block;
}

.OwO.OwO-up .OwO-body {
    top: inherit;
    bottom: 21px;
    border-radius: 4px 4px 4px 0;
}

.OwO.OwO-up .OwO-body .OwO-bar .OwO-packages li:nth-child(1) {
    border-radius: 0;
}

.OwO.OwO-up.OwO-open .OwO-logo {
    border: 1px solid #ddd;
    border-radius: 0 0 4px 4px;
    border-top: none;
}



.OwO .OwO-body {
   
    width: 400px;
    background: #fff;
  
    top: 21px;
    border-radius: 0 4px 4px 4px;
}

.OwO .OwO-body .OwO-items {
    user-select: none;
    display: none;
    padding: 10px;
    margin: 0;
    /* overflow: scroll; */
    font-size: 0;
}

.OwO .OwO-body .OwO-items .OwO-item {
    list-style-type: none;
    background: #f7f7f7;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    font-size: 12px;
    line-height: 14px;
    margin: 0 10px 12px 0;
    cursor: pointer;
    transition: 0.3s;
}

.OwO .OwO-body .OwO-items .OwO-item:hover {
    transform: scale(1.3);
    background: unset;
}

.OwO .OwO-body .OwO-items-emoji .OwO-item {
    font-size: 20px;
    line-height: 19px;
}

.OwO .OwO-body .OwO-items-image .OwO-item {
    max-width: calc(25% - 10px);
    box-sizing: border-box;
}

.OwO .OwO-body .OwO-items-image .OwO-item img {
    max-width: 100%;
    height: 2rem;
}

.OwO .OwO-body .OwO-items-show {
    display: block;
}

.OwO .OwO-body .OwO-bar {
text-align: center;
}

.OwO .OwO-body .OwO-bar .OwO-packages {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.OwO .OwO-body .OwO-bar .OwO-packages li {
    list-style-type: none;
    display: inline-block;
    line-height: 30px;
    font-size: 14px;
    padding: 0 10px;
    cursor: pointer;
    margin-right: 3px;
    border-radius: 100px;
}



.OwO .OwO-body .OwO-bar .OwO-packages li:hover {
    background: #eee;
}

.OwO .OwO-body .OwO-bar .OwO-packages .OwO-package-active {
    background: #eee;
    transition: 0.3s;
}
